<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Tracker</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <header class="header">
        <div class="logo-container">
            <a href="/" class="bt-link"><span>BT</span></a>
        </div>
    </header>
    <div class="grid-container">
        <table class="grid">
            <thead>
                <tr>
                    <th class="grid-id">Id</th>
                    <th class="grid-type">Type</th>
                    <th class="grid-description">Description</th>
                    <th class="grid-tag">Tags</th>
                    <th class="grid-deadline">Deadline</th>
                    <th class="grid-created">Created in</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="grid-id">
                        <span><a href="#">123</a></span>
                    </td>
                    <td class="grid-type">tipo</td>
                    <td class="grid-description"> descrição exemplo</td>
                    <td class="grid-tag">#tag</td>
                    <td class="grid-deadline">yyyy-mm-dd</td>
                    <td class="grid-created">yyyy-mm-dd</td>
                </tr>
            </tbody>
        </table>
    </div>
    <footer>
        Budget Tracker, 2025
    </footer>
</body>

</html>