<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Tracker</title>
    <link rel="stylesheet" href="/static/css/styles.css">

</head>

<body>
    <header class="header">
        <div class="logo-container">
            <a href="/" class="bt-link"><span>BT</span></a>
        </div>
    </header>
    <div>
        
    </div>
    <footer>
        Budget Tracker, 2025
    </footer>
    <script src="/static/js/scripts.js"></script>
</body>

</html>